@model IEnumerable<MvcMasteryBlog.Models.Blog>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vehicle Reviews</title>
    <link rel="stylesheet" href="~/Styles/Style.css" />

</head>
<body>
    <h1>Blog</h1>
    <div>

        <section id="Blog">
            @foreach (var blog in Model)
            {

                <article>
                    <p><a href="/Blog/Details/@blog.ID">@blog.Title</a></p>
                    <img class="blogIMG" src="@blog.Image" alt="@blog.Title" />
                </article>
                <form action="/Blog/Edit/@blog.ID" method="get">
                    <input type="submit" value="Edit Review" />
                </form>

                <form action="/Blog/Delete/@blog.ID" method="get">
                    <input type="submit" value="Delete Review" />
                </form>
            }
        </section>
        <hr />
        <section id="Forms">
            <form action="/Blog/Create" method="get">
                <input type="submit" value="Add Blog" /> <br>
            </form>

        </section>
        <p class="homeGo"><a href="/Home/Index/">Home</a></p>

    </div>
    <footer><h6>&copy;Gaming Doctors, 2019</h6></footer>
</body>
</html>
