@model IEnumerable<MvcMasteryBlog.Models.Blog>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vehicle Reviews</title>
</head>
<body>
    <h1>Vehicle Reviews</h1>
    <div>

        <section id="Products">
            @foreach (var blog in Model)
            {

                <article>
                    <p><a href="/Blog/Details/@blog.ID">@blog.Title</a></p>
                    <img src="@blog.Image" alt="@blog.Title" style=" height: 240px; width:380px;" />
                </article>
            }
        </section>


    </div>
    <footer><h6>&copy;Nobody Cares Inc. 2019</h6></footer>
</body>
</html>
