h1{
    color: blue
}


body{
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    /*position: fixed;
    top: 0;
    left: 0;*/
    display: flex;
    flex-direction: row;
    flex-direction: row;
    height: 2rem;
    justify-content: center;
}

/*nav a{
    padding: 1rem, 1rem;
}*/

.flexItem {
    margin-left: 0rem;
    padding: 1rem;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.photoT{
    height: 3rem;
    width: 5rem;
}

.photoB {
    height: 3rem;
    width: 5rem;
}

.blogIMG{
    height: 7rem;
    width: 13rem;
}