h1{
    color: blue
}


body{
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2rem;
    justify-content: center;
}

.flexItem {
    margin-left: 0rem;
    padding: 1rem;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}