h1{
    color: black;
}


body{
    background-color: indianred;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    background-color: papayawhip;
    display: flex;
    flex-direction: row;
    background-size: auto;
    align-items: center;
    height: 2rem;
    justify-content: center;
}

.color :link, .color :visited {
    color: black;
}

/*.color :hover {
    color: brown;
}*/

#Tag :link, #Tag :visited {
    color: black;
}

#Genre :link, #Genre :visited {
    color: black;
}

#Genre :hover {
    color: brown;
}

#Tag :hover {
    color: brown;
}

.container{
    width: 20rem;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;
}

.flexItem {
    margin-left: 0rem;
    padding: 1rem;
}

.flexItem :hover {
    color: brown;

}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
#photoT{
    height: 15rem;
    width: 12rem;
}

#photoB {
    height: 15rem;
    width: 15rem;
}


.blogIMG{
    height: 11rem;
    width: 20rem;
}