
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blog Home</title>
    <link rel="stylesheet" href="~/Styles/Style.css" />

</head>
<body>
    <h1>Welcome</h1>
    <p>Here you can view blogs based on content.</p>

    <p>
        <a href="/Blog/Index">Blog Home</a>
        <a href="/Tag/Index">Tag Home</a>
        <a href="/Genre/Index">Genre Home</a>

    </p>
</body>
</html>
