
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blog Home</title>
    <link rel="stylesheet" href="~/Styles/Style.css" />

</head>
<body>
        <nav>
            <a href="/Blog/Index" class="flexitem flexitem--1">Blog Home</a>
            <a href="/Tag/Index" class="flexitem flexitem--1">Tag Home</a>
            <a href="/Genre/Index" class="flexitem flexitem--1">Genre Home</a>
        </nav>
    <h1>Welcome</h1>
    <p>Here you can view blogs based on content.</p>

</body>
</html>
