
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blog Home</title>
    <link rel="stylesheet" href="~/Styles/StyleOver.css" />

</head>
<body>
        <nav>
            <a href="/Blog/Index" class="nav">Blogs</a>
            <a href="/Tag/Index" class="nav">Tags</a>
            <a href="/Genre/Index" class="nav">Genres</a>
        </nav>
    <h1>Gaming Doctors</h1>
    <p>Welcome. Here you can find all the cures for your (fake) gaming related deseases.</p>
    <img id="photoT" src="~/images/meGrin2.jpg" alt="Alternate Text" />
    <img id="photoB" src="~/images/drfodor.jfif" alt="Alternate Text" />

</body>
</html>
