
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blog Home</title>
    <link rel="stylesheet" href="~/Styles/Style.css" />

</head>
<body>
    <div class="container">
        <nav class="color">
            <a href="/Blog/Index" class="flexItem flexItem--1">Blogs</a>
            <a href="/Tag/Index" class="flexItem flexItem--2">Tags</a>
            <a href="/Genre/Index" class="flexItem flexItem--3">Genres</a>
        </nav>
    </div>
    <h1>Gaming Doctors</h1>
    <p>Welcome. Here you can find all the cures for your (fake) gaming related deseases.</p>
    <img id="photoT" src="~/images/meGrin2.jpg" alt="Alternate Text" />
    <img id="photoB" src="~/images/drfodor.jfif" alt="Alternate Text" />

    <footer><h6>&copy;Gaming Doctors, 2019</h6></footer>

</body>
</html>
