
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blog Home</title>
</head>
<body>
    <h1>Welcome</h1>
    <p>Here you can view blogs based on content.</p>

    <p>
        <section>Title: Food Blog<img src="~/images/hamburger.png" alt="Hamburger" style="width: 10rem; height: 7rem"/></section>
       <section>Title: Street Blog <img src="~/images/signPost.jpg" alt="Sign Post" style="width: 10rem; height: 7rem"/></section>
    </p>
</body>
</html>
